@import "tailwindcss";

@font-face {
  font-family: "Bangers";
  src: url("/assets/fonts/Bangers/Bangers-Regular.ttf");
}

@font-face {
  font-family: "Handlee";
  src: url("/assets/fonts/Handlee/Handlee-Regular.ttf");
}

@font-face {
  font-family: "Comic_Neue";
  src: url("/assets/fonts/Comic_Neue/ComicNeue-Regular.ttf");
  font-weight: "normal";
}

@font-face {
  font-family: "Comic_Neue";
  src: url("/assets/fonts/Comic_Neue/ComicNeue-Bold.ttf");
  font-weight: "bold";
}

h1 {
  font-family: "Bangers", sans-serif;
  text-transform: uppercase;
}

h2,
h3 {
  font-family: "Handlee", cursive;
}
span {
  font-family: "Comic_Neue", cursive;
}

body {
  background-color: #f7f4eb;
  background-image: radial-gradient(#d1cbd4 15%, transparent 19%);
  background-size: 6px 6px;
  font-family: "Comic Neue", cursive;
  line-height: 1.6;
}
